@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Plus Jakarta Sans, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input {
  border: none;
  outline: none;
}

.nav-bar-top {
  padding: 40px 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.logo-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
}

.search-field,
.search {
  display: flex;
  align-items: center;
}

.search {
  gap: 20px;
}

.search-field {
  border: 1px solid #c3d4e966;
  border-radius: 70px;
  gap: 160px;
  padding: 10px;
}

.profile {
  display: flex;
  gap: 20px;
}

.app {
  background-color: #f6f7f9;
}
